.main-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns the content to the right */
  margin-right: 50px; /* Adds margin to the right to provide some spacing */
  height: calc(100vh - 80px);
  color: white;
}

.banner-text {
  text-align: right; /* Aligns text inside the banner to the right */
  max-width: 600px;
  padding: 20px;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: #200077;
}

.banner-text p {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
}

.cta-button {
  background-color: #1476cc;
  border: none;
  padding: 15px 30px;
  color: #000000;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
