/* Container for the layout */
.container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  overflow-y: auto;
  width: 300px; /* Adjust width as needed */
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between; /* Include padding and border in the width */
}

.main-sec {
  margin-left: 300px;
}

/* Main section styles */
.main-section {
  flex: 1;
  /* padding: 20px; */
  /* background-color: #ddd6d6; */
  box-sizing: border-box; /* Include padding in the width */
}

/* Full page layout for home and dashboard */
.full-page {
  display: block; /* Remove flexbox constraints */
}

.full-content {
  width: 100%; /* Full width for home page */
  padding: 0;
  margin: 0;
}

/* Smaller screen adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack sidebar and main content vertically on smaller screens */
  }

  .sidebar {
    width: 100%; /* Sidebar takes full width on small screens */
    margin-bottom: 10px; /* Add spacing between sidebar and main content */
  }

  .main-section {
    margin: 0; /* Remove left margin */
  }
}

/* @media (max-width: 480px) {
  .main-section {
    padding: 10px;
  }
} */
